$color-brand: #0066cc;

@import 'vanilla-framework';
@include vanilla;

@import 'components/product-card';
@import 'components/image-slider';
@import 'components/product-details';

.app {
    padding: 2rem;
    background-color: #fff;
    height: 100svh;
    width: 100svw;
}